@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

main{
  
    height: 2900px;
}
#content{
    position: relative;
    height: 2000px;
}

#info{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#banner{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#titulo{
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#subtexto{
    margin-top: 4%;
    width: 90%;
    height: auto;
    padding: 5px;
    background-color: rgb(0, 0,0,0.5);
    font-size: 18px;
}
#informacao{
    margin-top: 5%;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hole{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#explicacao{
    width: 90%;
    height: auto;
}

#equacao{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#equacaotexto{
    position: absolute;
    font-size: 32px;
}
#infortexto{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: auto;
}
#coisasemquefunciona{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#coisasemquefunciona img{
    margin-top: 10px;
}
#bannerimg{
    width: 500px;
    height: auto;
}