@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

head {
    background-color: #000000;
}

body,
html {
    background-color: #000000;
    overflow-x: hidden;
}
p{
    color: #ffffff;
}
h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width:500px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        width: 500px;
        height: auto;
    }
}